.filter-form{
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}
.filter-form select,input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.filter-form option{
    padding: 8px;
    border: 1px solid #ccc;
}