.food-card{
    border:1px solid #ccc;
    border-radius: 6px;
    padding:12px;
    background:#fff;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}
.food-card h3{
    margin:0 0 8px;
}

.food-card button{
    text-align: center;
    margin: 10px auto;
    padding:8px;
    display: block;
    background: #F79A19;
    color:white;
    border: none;
    border-radius: 4px;
    cursor:pointer;
}
.food-card button:hover{
    background: #e2bc869a;
}
.disabled{
    color: #6a6a6a;
}
.disabled button{
    background: #6a6a6a;
}
