.admin-dashboard {
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.admin-dashboard h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.add-food-form {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);

}

.add-food-form h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 18px;
  color: #444;
}

.add-food-form input,
.add-food-form select {
  width: max-content;
  margin: 12px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.add-food-form input:focus,
.add-food-form select:focus {
  outline: none;
  border-color: #F79A19;
  box-shadow: 0 0 4px #f79b19c7(0,120,215,0.3);
}

.add-food-form button {
  background: #F79A19;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.add-food-form button:hover {
  background: #f79b19b3;
}

.food-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.admin-dashboard h3 {
  margin-bottom: 12px;
  font-size: 20px;
  color: #333;
}
