.register-container{
    max-width: 350px;
    margin:80px auto;
    padding: 30px;
    border:1px solid #ccc;
    border-radius: 6px;
    background: #fafafa;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
}
.register-form{
    display: flex;
    flex-direction: column;
    gap:12px;
}
.register-form input{
    padding:10px;
    border:1px solid #ccc;
    border-radius:4px;
}
.register-form button{
    font-weight: bold;
    padding: 10px;
    background: #F79A19;
    color:white;
    border:  none;
    border-radius: 4px;
    cursor: pointer;
}

.error{
    color:red;
    margin-top: 10px;
}
.login-link a{
    color: #F79A19;
    font-style: none;
}